/* Define root variables. */
/* :root {
    --main-margin-left: 0;
} */

body {
    color: white;
    background-color: #2b2b2b;
    height: 100vh;
}

/* Styling for main content outside panel. */
#main {
    transition: margin-left .5s;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: 0.2s;
    margin-left: 0;
}

/* Styling for widget. */
.widget {
    cursor: grab;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Styling for snap boxes for widgets. */
.widget_snapper {
    background-color: rgb(0,0,0,0.5);
    flex: 1;
}

/* Styling for widget container div. */
.widget_container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

/* Styling for panel button list. */
.button_list {
    list-style-type: none;
    width: 100%;
    left: 0;
    padding-left: 0;
    text-align: center;
}

/* List elements inside panel button list. */
.button_list li {
    width: 100%;
}

/* Buttons inside panel button list. */
.button_list li button {
    font-size: 1vw;
    width: 80%;
    background-color: #2b2b2b;
    color: white;
    border: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* Buttons inside panel button list on hover. */
.button_list li button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* Trash tool */
.trash {
    cursor: pointer;
    background-color: #101010;
    padding: 5px;
    color: #ffffff;
    height: 20vh;
    width: 10vw;
}


/* Styling for main panel. */
.panel {
    background-color: #0b0b0b;
    height: 100%;
    width: 0;
    font-size: 1vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    overflow-x: hidden;
    white-space: nowrap;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0;
    transition: 0.2s;
    padding-right: 0.5vw;
    opacity: 0;
}

/* Styling for additional divs inside main panel */
.panel div {
    padding-left: 0.5vw;
}

/* Styling for main panel. */
#main_panel:hover {
    width: 20vw;
    padding-right: 0;
    opacity: 1;
}