body {
    color: white;
    background-color: #2b2b2b;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.panel {
    background-color: #0b0b0b;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
    .panel {padding-top: 450px}
}